

<div class="container mt-5">
  <div class="border-start ps-4 mb-4">
    <p><%= @question %></p>
    <p class="fst-italic">- You</p>
  </div>

  <div class="border-start ps-4 py-3 mb-4 bg-warning-subtle">
    <p><%= @answer %></p>
    <p class="fst-italic">- Your coach</p>
  </div>

  <%= link_to "Ask an other question", ask_path %>
</div>>
