
<form action="/answer" data-turbo="false" class="form-control form-control-lg">
  <label for="question">Your question</label>
  <input type="text" id="question" name="question">
  <input type="submit" value="Ask!" class="btn btn-primary">
</form>
